:root {
  --blue: #79A9F5;
  --indigo: #C45F90;
  --purple: #A16AE8;
  --pink: #FC8BC0;
  --red: #F85C70;
  --orange: #FF8882;
  --yellow: #F8C018;
  --hover-yellow: #fcac00;
  --green: #A3C14A;
  --teal: #20c997;
  --cyan: #47D8E0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #03620b;
  --secondary: #6c757d;
  --success: #A3C14A;
  --info: #47D8E0;
  --warning: #FAD02C;
  --danger: #F85C70;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  position: relative;
}


.container{
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--gray);
}



/* ======================
       ** SKIP CONTENT **
  ======================*/
  .skip-to-content-link {
    background: var(--primary);
    height: 30px;
    left: 43%;
    padding: 8px;
    position: absolute;
    transform: translateY(-5000%);
    transition: transform 0.3s;
    color: white;
    border-radius: 0 0 5px 5px;
  }
  
  .skip-to-content-link:focus {
    transform: translateY(0%);
  }

/* ======================
       ** NAVBAR **
  ======================*/

.nav{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;  
    background: #fff;
    margin: 0 auto;

    display: flex;
    align-items: center;
    padding: 7px 0;
    height: 72px;
}

.nav--menubar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-brand img{
  max-width: 200px;
  min-width: 100px;
  max-height: 50px;
  width: 100%;
}

 /* ======================
       ** location info **
  ======================*/

  .location-info{
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 350px;
    
    position: fixed;
    right: 0;
    top: 20vh;

    box-sizing: border-box;
    padding: 1.5em;
    border-radius: 15px  0 0 15px;


    color: #03620b;
    text-align: right;
    z-index: 9;
  }

  .location-info h2{
    margin: 0;
  }

  /* ======================
       ** PANORAMICA **
  ======================*/

  #pano{
    background: var(--primary);
    height: calc(100% - 72px);
    float: left;
    width: 100%;
  }

  /* ======================
       ** MENU **
  ======================*/

  .menu{
    background-color: #FFF;
    max-width: 500px;
    width: 95%;
    max-height: 90px;

    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10vh;

    padding: 1.5em 2em;
    border-radius: 15px;
    z-index: 9;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu label{
    font-family: "Open Sans", sans-serif;
    font-size: .8rem;
    margin-left: 4px;
  }

  .menu select{
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    font-size: 1.1rem;
    border: 0;
  }

  .menu button{
    border: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;

    background:rgba(3,98,11, 0.6);
    color: #fff;
    font-size: 1.4rem;

    transition: all 0.3s ease; 
    outline: 3px solid rgba(3,98,11, 0.6);
  }

  .menu button:hover{
    outline: 3px solid rgba(3,98,11, 0.6);
    transform: scale(1.1);
  }

  .menu button:focus{
    outline: 3px solid white;
    outline-offset: -4px;
  }

  @media (min-width: 768px) {
    .menu{
      bottom: 40px;
    }
  }


  @media (min-width: 576px) {
   
  }

@media (min-width: 768px) {

}

